<div class="ToDo">
    <h1 class="ToDo-Header">To Do App With Angular</h1>
    <div class="ToDo-Container">
        <div class="ToDo-Content">
            <div *ngFor="let ToDo of ToDos; index as i" >
                <ToDoItem [ToDo]="ToDo" (Deleted)="deleteItem(i)"></ToDoItem>
            </div>
        </div>
        <!-- see https://stackblitz.com/angular/lypmnogevxa?file=src%2Fapp%2Fhero-form%2Fhero-form.component.html for a more in depth ng-form example -->
        <form (ngSubmit)="addItem()" #todoForm="ngForm">
            <div class="form-group">
                <input type="text" class="form-control" id="name" [(ngModel)]="Input" name="name" #name="ngModel" placeholder="Add Task" required>

                <button type="submit" class="ToDo-Add">+</button>
                <div class="requiredError" [hidden]="ShouldBeHidden(name.valid, name.pristine, Submitted)">
                    Name is required
                </div>
            </div>
        </form>
    </div>
</div>