@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

body {
  background: -webkit-linear-gradient(to left, #b2dffa, #659ce1);
  background: -moz-linear-gradient(to left, #b2dffa, #659ce1);
  background: linear-gradient(to left, #b2dffa, #659ce1);
}