.ToDoItem {
    position: relative;
    margin-top:10px;
}

.ToDoItem-Text {
    text-align:left;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-left: 5px solid #f99543;
    padding: 12px;
    padding-right:40px;
}

.ToDoItem-Delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    padding: 5px;
    cursor: pointer;
    background: #d6d1d1;
    border-radius: 15px;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 6px;
}
